#container {
  background-image: url('/assets/images/homeBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.welcome-card {
  margin-bottom: 10px;
  padding-top: 10px;

}

.carousel-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll; /* Habilita el desplazamiento horizontal */
  gap: 20px;
  padding: 10px 0;
  scroll-behavior: smooth; /* Desplazamiento suave */
  -webkit-overflow-scrolling: touch; /* Soporte para desplazamiento táctil nativo en móviles */
  scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
}

.carousel-container::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento en Webkit (Chrome, Safari) */
}

.carousel-card {
  width: 250px;
  height: 300px;
  flex: 0 0 auto;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
}

.carousel-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

ion-header {
  background-color: #000000ae; 
  --ion-background-color: #00000095;
  text-align: center;
  
}

ion-card-header {
  text-align: center;
  padding: 10px 0;
}

ion-card-content {
  padding: 10px;
}

ion-title {
  color: #ffffff; /* Cambia el color del texto específicamente para el título */
  font-weight: bold; /* Ejemplo de otro estilo para que se vea más destacado */
}
