#container {
  background-image: url('/assets/images/homeBackground.jpg');
  background-size: cover; /* Para cubrir completamente el área */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita */
  height: 100%; /* Asegura que cubra el área del ion-content */
  width: 100%; /* Asegura que cubra el ancho del ion-content */
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(42, 86, 244); /* Cambia el color del texto si es necesario para la legibilidad */
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c; /* Cambia este color si quieres que resalte más */
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #007aff; /* Cambia el color del enlace si lo deseas */
}
