<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <!-- Tarjeta de bienvenida -->
    <div class="welcome-card">
      <ion-card>
        <strong>Welcome to Music Beat</strong>
        <p>Explore the best songs and artists.</p>
      </ion-card>
    </div>

    <!-- Carrusel horizontal de tarjetas -->
    <div class="carousel-container">
      <ion-card class="carousel-card" (click)="openExternalLink('https://pitchfork.com/features/lists-and-guides/best-music-2024-so-far/')">
        <img src="../assets/images/girlheadphone.jpg" class="carousel-img" />
        <ion-card-header>
          <ion-card-title>Best of 2024</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Discover the top songs by rating.
        </ion-card-content>
      </ion-card>

      <ion-card class="carousel-card" (click)="openExternalLink('https://www.billboard.com/c/music/music-news//')">
        <img src="../assets/images/vinyl.jpg" class="carousel-img" />
        <ion-card-header>
          <ion-card-title>Trending Now</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Check out what's hot right now.
        </ion-card-content>
      </ion-card>

      <ion-card class="carousel-card" (click)="openExternalLink('https://www.songkick.com/')">
        <img src="../assets/images/trending.jpg" class="carousel-img" />
        <ion-card-header>
          <ion-card-title>Live Concerts Info</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Explore news live concerts.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
