<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home">
      <img src="/assets/images/homeTabs.jpg" alt="Home Icon" style="width: 45px; height: 45px; border-radius: 50%;" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <img src="/assets/images/users.jpg" alt="Users Icon" style="width: 45px; height: 45px; border-radius: 50%;" />
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs">
      <img src="/assets/images/playlist1.jpg" alt="Songs Icon" style="width: 45px; height: 45px; border-radius: 50%;" />
      <ion-label>Songs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <img src="/assets/images/about.jpg" alt="About Icon" style="width: 45px; height: 45px; border-radius: 50%;" />
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

