<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="/assets/icon/home.png" alt="Home Icon" style="width: 24px; height: 24px;" />
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <img src="/assets/icon/users.png" alt="Users Icon" style="width: 24px; height: 24px;" />
      <ion-label>Users</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs">
      <img src="/assets/icon/songs.png" alt="Songs Icon" style="width: 24px; height: 24px;" />
      <ion-label>Songs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="artists">
      <img src="/assets/icon/singer.png" alt="Artists Icon" style="width: 24px; height: 24px;" />
      <ion-label>Artists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <img src="/assets/icon/about.png" alt="About Icon" style="width: 24px; height: 24px;" />
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
