ion-tab-bar {
    background-color: #000000ae; /* Cambia el color según prefieras */
    --ion-background-color: #00000095; /* Cambia el color según prefieras */
    height: 80px; /* Ajusta la altura a lo que necesites */
  }

  ion-tab-button {
    padding-top: 10px;  /* Ajusta el espaciado interno para alinear correctamente el contenido */
  }
  
  img {
    height: 45px; /* Asegúrate de ajustar las imágenes si cambias la altura */
  }
  
  .custom-tab-bar ion-label {
    margin-bottom: 5px; /* Ajusta el margen entre las etiquetas y el borde inferior */
    margin-top: 5px;
  }