<ion-header>
  <ion-toolbar>
    <ion-title>My Playlists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">
  <!-- Formulario para crear una nueva playlist -->
  <ion-item>
    <ion-label position="floating">Playlist Name</ion-label>
    <ion-input [(ngModel)]="newPlaylistName" type="text"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="createPlaylist()">Create Playlist</ion-button>

  <!-- Lista de playlists -->
  <ion-list *ngIf="playlists.length > 0">
    <ion-item *ngFor="let playlist of playlists">
      <ion-label>{{ playlist.name }}</ion-label>
      
      <!-- Botón para ver las canciones de la playlist -->
      <ion-button fill="outline" color="secondary" [routerLink]="['/song-in-list', playlist.id]">
        Add Songs
      </ion-button>

      <ion-button fill="outline" color="tertiary" [routerLink]="['/playlist-songs', playlist.id]">
        Play Songs
      </ion-button>

      <ion-button fill="outline" color="danger" (click)="deletePlaylist(playlist.id)">
        Delete
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Mensaje si no hay playlists -->
  <ion-text *ngIf="playlists.length === 0">
    <p>You don't have a Playlist. Let's create one!</p>
  </ion-text>
</ion-content>
