/* Estilos para la lista de canciones */
ion-list {
  background-image: url('../../assets/images/songs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); /* Fondo semi-transparente */
  padding: 0;
  height: auto; /* Aseguramos que la lista ocupe todo el espacio necesario */
}

/* Estilos para cada item en la lista */
ion-item {
  background-color: rgba(253, 249, 249, 0); /* Fondo mucho más transparente para los ítems */
  margin: 5px 0; /* Espaciado entre ítems */
  padding: 15px; /* Espaciado interno de los ítems */
  display: flex; /* Usar flexbox para alinear contenido */
  align-items: flex-start; /* Alineación vertical en la parte superior */
}


/* Estilos para el botón 'Add Song' */
.add-user-btn {
  --background: #087029; /* Color de fondo del botón */
  --color: white; /* Color del texto del botón */
  --border-radius: 8px;
  --padding-start: 16px;
  --padding-end: 16px;
  display: block;
  margin: 10px auto; /* Centra el botón y le da un margen superior e inferior */
  text-align: center;
  font-size: 12px;
  z-index: 999; /* Aseguramos que el botón esté encima de otros elementos */
}

/* Estilos específicos para el contenedor del botón */
.button-background {
  padding: 10px;
  text-align: center;
  background-color: transparent;
  z-index: 999; /* Aseguramos que el contenedor del botón esté por encima */
}

/* Estilos para el encabezado */
ion-header {
  background-color: #000000ae;
  --ion-background-color: #00000095;
  text-align: center;
}

/* Estilos para el título */
ion-title {
  color: #ffffff; /* Color blanco para el título */
  font-weight: bold;
}

/* Información de la canción */
.song-info {
  flex-grow: 1; /* Ocupa el espacio restante */
  margin-left: 10px; /* Espacio entre el thumbnail y la información */
}

/* Estilo de los botones de la canción */
.song-buttons {
  display: flex;
  justify-content: center; /* Centrar botones en móviles */
  // flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si es necesario */
  gap: px; /* Espacio entre botones */
}

/* Thumbnail de la canción */
ion-thumbnail {
  --size: 90px;
  --border-radius: 14px;
}

/* Recomendación para una vista móvil */
@media (max-width: 600px) {
  ion-item {
    flex-direction: column; /* Cambiar a columna en móviles */
    align-items: flex-start; /* Alinear a la izquierda */
  }

  .song-info {
    margin-left: 0; /* Eliminar margen en móviles */
  }

  /* Ajustar tamaño de botones para móviles */
  ion-button {
    display: flex;
    font-size: 12px; /* Tamaño de fuente más pequeño para móviles */
    padding: 5px 10px; /* Ajustar padding para botones más pequeños */
  }

  .icon-container {
    display: flex; /* Activa flexbox */
    align-items: center; /* Centra verticalmente los íconos */
    justify-content: center; /* Centra horizontalmente si lo deseas */
  }
  
  .custom-icon {
    transform: scale(1.5); /* Aumenta el tamaño en un 50% */
    margin: 0 10px; /* Espaciado opcional entre los íconos */
  }
  
  
}
