ion-header {
    background-color: #000000ae; 
    --ion-background-color: #00000095;
    text-align: center;
    
  }
  
  ion-card-header {
    text-align: center;
    padding: 10px 0;
  }
  
  ion-card-content {
    padding: 10px;
  }
  
  ion-title {
    color: #ffffff; /* Cambia el color del texto específicamente para el título */
    font-weight: bold; /* Ejemplo de otro estilo para que se vea más destacado */
  }