<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SONGS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SONGS</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Botón para redirigir a la página de creación de canción -->
  <div class="button-background">
    <ion-item class="button">
      <ion-button class="add-user-btn" size="small" routerLink="/create-songs"
        >Add Song</ion-button
      >
    </ion-item>
  </div>

  <!-- Lista de canciones -->
  <ion-list class="list-background">
    <ion-item *ngFor="let song of songs">
      <!-- imagen del álbum -->
      <ion-thumbnail class="thumbnail" slot="end">
        <img [src]="song.cover" alt="{{song.title}} Album Cover" />
        <div class="icon-container">
          <!-- En el HTML usa togglePlayPause -->
<ion-icon name="play" size="large" class="custom-icon" (click)="togglePlayPause(song.url)"></ion-icon>
<ion-icon name="pause" size="large" class="custom-icon" (click)="togglePlayPause(song.url)"></ion-icon>

        </div>
        
        
      </ion-thumbnail>

      <div class="song-info">
        <h1><strong>Title: </strong>{{song.title}}</h1>
        <p><strong>Artist: </strong>{{song.artist}}</p>
        <p><strong>Album: </strong>{{song.album}}</p>
        <p><strong>Duration: </strong>{{song.length}}</p>

        <div class="song-buttons">
          <ion-button (click)="deleteSong(song.id)" color="danger" size="small">Delete</ion-button>
          <ion-button [routerLink]="['/update-song', song.id]" color="primary" size="small">Update</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addSong()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
